@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200&display=swap');


.acch1{

    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.acctbl
{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold; 
}