@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

.homeh1{
    font-family: 'Zen Tokyo Zoo', cursive;
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
}